h1
{
    color:black;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 1px black;
}
body
{
    background-image: url("bg.png");
}
button.Discord
{
    color:black;
    background-color:rgb(255, 0, 255);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    display:block;
    
}
button.Github
{
    color:black;
    background-color:rgb(255, 0, 255);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    display:block;
    
    
}
button.Discord:hover
{
    background-color: rgb(0, 119, 255);
}
button.Github:hover
{
    background-color: rgb(0, 0, 0);
    color:white;
}
